{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div id="index-newpostbox">
            <form id="index-newpostform" method ="post">
                {% csrf_token %}
                <textarea class="form-control" id="index-newposttext" placeholder="New Post" name = "text"></textarea>
                <input type="submit" class="btn btn-primary" id ="index-newpostsubmit" value="Post"/>
            </form>
        </div>
    {% endif %}
    
    {% include 'network/post.html' %}
    
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}